<!DOCTYPE html>
<html>
<head>
  <title>Bellator | Sapien | Agricola</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'custom_1', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Add other JavaScript packs if needed -->
</head>

<body>
  <header>
    <h1>Founders</h1>
  </header>

  <!-- The content of the founders page -->
<section class="founders-container">
  <%= image_tag 'seth-headshot.JPG', alt: 'Seths Headshot', class: 'headshot' %>
  <div class="founders-info">
    <h2>Seth Alan Cohen</h2>
    <p>
      <!-- Seth's biography -->
      Seth grew-up in the north suburbs of Chicago, and joined the United States Marine Corps in 2016.  He served with 
      2d Tank Battalion 2d Marine Division from 2016 to 2020.  After four years, he was honorably discharged from the 
      Marine Corps and immediately enrolled in undergraduate studies at the University of Chicago.  After graduating 
      undergrad with a BA in economics, he subsequently enrolled at The University of Chicago Booth School of Business 
      as an MBA candidate and Accelerated Booth Scholar.  Seth lives with his wife and child in the north suburbs of 
      Chicago.
    </p>
    <%= link_to "Seth's LinkedIn", "https://www.linkedin.com/in/sacohen97/", class: 'linkedin' %>
  </div>
</section>

<section class="founders-container">
  <%= image_tag 'luke-headshot.JPEG', alt: 'Lukes Headshot', class: 'headshot' %>
  <div class="founders-info">
    <h2>Luke O'Connor Yelenick</h2>
    <p>
      <!-- Luke's biography -->
      Luke grew-up in St. Louis before enlisting in the United States Army.  He served in the Army from 2015 to 2021, 
      and as a US Army special operator with the 75th Ranger Regiment from 2016 to 2021.  After being honorably 
      discharged, he applied and was accepted to the University of Chicago as an undergraduate student.  He will be 
      graduating in 2025 with his BA in economics, and will be continuing his studies at The Chicago Booth School of 
      Business as an MBA candidate and Accelerated Booth Scholar.  He lives with his girlfriend in the city of Chicago.
    </p>
    <%= link_to "Luke's LinkedIn", "https://www.linkedin.com/in/luke-yelenick-95a97317b/", class: 'linkedin' %>
  </div>
</section>

  <main>
    <%= yield %>
  </main>

  <nav class="container">
    <%= link_to 'Home', home_path, class: 'nav-link' %>
   <%= link_to 'Sign-in', '/sign_in', class: 'nav-link' %>
   <%= link_to 'Posts', '/blog', class: 'nav-link' %>
  <%= link_to 'Contact', contact_path, class: 'nav-link' %>
  </nav>

  <footer>BSA Truth LLC, 2024</footer>
</body>
</html>
